// Couleurs
$color-bg: #fcfcfc;
$color-txt: #444;
$color-header: #eaeaea;
$color-emph: #5eb17a;

// Spacing
$header-height: 6rem;

// Shadows
$shadow-light: 0 0 10px #ccc;
$shadow-dark: 0 0 15px #888;

// Fonts
$fonts-title: 'Squada One', cursive;
$fonts-body: 'Roboto', sans-serif;