.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  @include centerChilds;
  background: $color-bg;
  font-family: $fonts-title;
  font-size: 1.5rem;
  z-index: 100;
  transition: all 500ms;

  &--scrolledDisplay {
    background: $color-header;
    box-shadow: $shadow-light;
  }

  &__nav {
    @include centerChilds;
    margin: auto;
  }

  &__item {
    margin: 0 1em;
    transition: transform 300ms;
    &:hover {
      transform: scale(1.05) translateY(0.15em);
    }
  }

  &__image {
    border-radius: 50%;
    width: 0;
    opacity: 0;
    transition: all 300ms;

    &--scrolledDisplay {
      opacity: 1;
      width: 75px;
    }
  }
}