* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $color-bg;
  color: $color-txt;
  font-family: $fonts-body;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  text-align: center;
  font-size: 2rem;
  font-family: $fonts-title;
}